<h2 class="subtitle">Order</h2>

<%= render partial: 'carts/cart', locals: {cart: @cart} %>

<div id="orders">
  <%= form_for(@order) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :street_address %>
    <%= f.text_field :street_address %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
    <%= f.label :telephone %>
    <%= f.text_field :telephone %>
    <%= f.submit %>
  <% end %>
</div>
